$primary   : #50E2F2;
$secondary : #57F2F2;
$accent    : #EFF2D8;
$brown     : #595248;

$dark      : #262118;
$dark-page : #121212;
$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
